<% posts.each_with_index do |post,index| %>
  <div id='post_no_<%= post.id%>'>
  <%= index+1 %>) <%= render partial: "posts/create",locals:{post:post}%>
  </div>
  <div id='comments_for_<%= post.id%>'>
  </div>
<%end%>
