// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
#div1 {
  width:80px;
  height:80px;
  display:none;
  background-color:red;
}